body {
  background-color: black !important;
  overscroll-behavior: none;
}

.div-block-40.iubenv.window.visible {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.div-block-40.iubenv.window.hidden {
  opacity: 0;
  transform: scale(0.95);
}

.div-block-40.vre.window.visible {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.div-block-40.vre.window.hidden {
  opacity: 0;
  transform: scale(0.95);
}

.div-block-40.iubenv.window {
  transition: box-shadow 0.2s, opacity 0.3s ease, transform 0.3s ease;
}

.div-block-40.vre.window {
  transition: box-shadow 0.2s, opacity 0.3s ease, transform 0.3s ease;
}

.icon-textt {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.div-block-40 {
  box-shadow: 0 0 1px 0 #000, 0 18px 32px 2px rgb(0 0 0 / 30%);
}

#contibgimg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

[contenteditable='true']:focus {
  outline: none;
}

[contenteditable='true'] {
  caret-color: #ffd60a;
}

[contenteditable='true']::selection {
  background-color: #867750 !important;
  color: inherit !important;
}

[contenteditable='true']::-moz-selection {
  background-color: #867750 !important;
  color: inherit !important;
}

[contenteditable='true']::selection {
  background-color: #867750 !important;
  color: inherit !important;
}

.progress {
  width: 300px;
  max-width: 85vw;
  height: 4px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  border-radius: 4px;
  background: rgb(255 255 255 / 50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.progress:after {
  content: '';
  display: block;
  width: 0%;
  /* Start at 0% */
  height: 4px;
  background: #fff;
  animation: load 3s linear forwards;
  animation-delay: 1s;
}

@-moz-keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}

@-o-keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}

@keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}

.container {
  width: max-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  pointer-events: auto;
  transform: translate(-50%, 0%);
  padding-bottom: 12.5px;
  padding-top: 7.5px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  background: rgb(52 51 47 / 80%);
  backdrop-filter: blur(5px);
  border: 0.25px solid #53514d;
  border-radius: 15px;
  transform-origin: center;
  margin-bottom: 3px;
}

.dock {
  display: flex;
  justify-content: space-around;
}

.dock-item {
  width: 50px;
  height: 50px;
  margin: 0 7.5px;
  background: transparent;
  color: #333;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: bottom;
}

.dock-item img {
  width: 100%;
  height: 100%;
}

.spotititi.visible {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.spotititi.hidden {
  opacity: 0;
  transform: scale(0.95);
}

.spotititi.window {
  display: none;
  width: 700px;
  height: 450px !important;
  position: absolute;
  top: 100px;
  left: 100px;
  overflow: hidden;
  border-radius: 12px;
  transition: box-shadow 0.2s, opacity 0.3s ease, transform 0.3s ease;
}

.iframeembedspoit {
  margin-top: 32px;
}

.mail-header.window-header.window-controls.spototo {
  background-color: #1f1f1f;
  border-radius: 12px;
  border-bottom: none;
}

.mail-wrapper.visible {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.mail-wrapper.hidden {
  opacity: 0;
  transform: scale(0.95);
}

.mail-wrapper {
  display: none;
  position: absolute;
  top: 120px;
  left: 220px;
  width: 600px;
  height: 400px;
  border: 1px solid #2c2c2e;
  border-radius: 8px;
  background: #1c1c1e;
  box-shadow: 0 4px 12px rgb(0 0 0 / 50%);
  overflow: hidden;
  transition: box-shadow 0.2s, opacity 0.3s ease, transform 0.3s ease;
}

.mail-header {
  background: #2c2c2e;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #3a3a3c;
}

.mail-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  cursor: default;
  pointer-events: default;
}

.mail-dot.red {
  background: #ff453a;
}

.mail-dot.yellow {
  background: #ffd60a;
}

.mail-dot.green {
  background: #30d158;
}

.send-button {
  background: none;
  border: none;
  cursor: default;
  padding: 0;
  color: #fff;
  opacity: 0.75;
  transition: color 0.3s ease;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.send-button:hover {
  color: #ffffff;
  opacity: 1;
  cursor: default;
}

.send-button.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.send-icon {
  display: block;
  cursor: default;
}

.spinner {
  border: 4px solid rgb(255 255 255 / 30%);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: none;
  margin-left: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mail-body {
  width: 100%;
  padding: 52px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.mail-field {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 10px;
}

.mail-field label {
  font-size: 14px;
  font-weight: 400;
  color: #d1d1d6;
  text-align: left;
}

.mail-field input,
.mail-field textarea {
  background: #1c1c1e;
  color: #ffffff;
  border: none;
  resize: none;
  padding: 5px 0;
  font-size: 14px;
  outline: none;
}

.mail-field textarea {
  grid-column: span 2;
  height: 150px;
  padding: 8px 0;
}

.mail-field input:disabled {
  background: #3a3a3c;
}

.to-field {
  width: max-content;
  background: #007aff;
  padding: 1px;
  border-radius: 2.5px;
  border: none;
  color: #ffffff;
  margin: 8px 0;
  resize: none;
}

.mail-field {
  border-bottom: 1px solid #3a3a3c;
}

#last {
  border-bottom: none;
}

.control {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: background-color 0.2s ease;
  border: none;
  padding: 0;
}

.control::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s ease;
  pointer-events: none;
}

.control.close::after {
  background-image: url('../../public/images/desktop/closebutton.png');
}

.control.minimize::after {
  background-image: url('../../public/images/desktop/minimizebutton.png');
}

.control.maximize::after {
  background-image: url('../../public/images/desktop/maximizebutton.png');
}

.control:hover::after,
.control:focus::after {
  transform: translate(-50%, -50%) scale(1);
}

.notification {
  box-shadow: 0 4px 12px rgba(0 0 0 / 50%);
  z-index: 1000100010001000;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  position: absolute;
  display: none;
  text-align: center;
  background: #1c1c1e;
  color: #fff;
  font-size: 12px;
  margin: auto;
  border: 1px solid #595959;
  padding: 10px;
}

.notification p {
  margin: 0;
  flex: 1;
}

.notification button {
  background: none;
  border: none;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
}

.finder-wrapper {
  font-family: Arimo, sans-serif;
  position: absolute;
  top: 95px;
  left: 40px;
  width: 700px;
  height: 500px;
  border: 1px solid #2c2c2e;
  border-radius: 8px;
  background-color: #1c1c1e;
  box-shadow: 0 4px 12px rgba(0 0 0 / 50%);
  display: none;
  flex-direction: column;
  transition: box-shadow 0.2s, opacity 0.3s ease, transform 0.3s ease;
}

.finder-wrapper.visible {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.finder-wrapper.hidden {
  opacity: 0;
  transform: scale(0.95);
}

.finder-header {
  background: #20211d;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #3a3a3c;
  cursor: grab;
  user-select: none;
  position: relative;
}

.finder-title {
  font-size: 15px;
  color: #eaeaea;
  font-weight: 500;
  margin-left: 8px;
}

.finder-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.finder-sidebar {
  border-radius: 0 0 0 10px;
  font-size: 11px;
  letter-spacing: 0.33px;
  color: #fff;
  width: 200px;
  background-color: #292927e3;
  padding: 10px;
  overflow-y: auto;
}

.finder-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.finder-sidebar li {
  display: flex;
  align-items: center;
  padding: 2px;
  color: #fff;
  cursor: default;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.finder-sidebar li.active {
  background-color: #424240;
}

.finder-content {
  flex: 1;
  padding: 10px;
  background-color: #1e1e1e;
  overflow-y: auto;
  border-radius: 0 0 10px;
}

.folder-icon {
  width: 55px;
  height: 55px;
  background-image: url('../../public/images/foldermac.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.sidebar-icon {
  font-size: 11px;
  letter-spacing: 0.33px;
  color: #fff;
  margin-right: 6px;
  margin-bottom: 2.5px;
  margin-left: 2px;
  width: 14px;
  height: 14px;
  background-image: url('../../public/images/foldermac.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.jpg-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
  background-color: transparent;
}

.jpg-icon img {
  max-width: 100%;
  max-height: 100%;
  border: 2.5px solid #eaeaea;
}

.web-icon {
  width: 55px;
  height: 55px;
  background-image: url('../../public/images/HTTPWeblocFile.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.finder-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
}

.finder-item {
  border-radius: 5px;
  font-size: 11px;
  letter-spacing: 0.33px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  cursor: default;
  transition: background-color 0.2s ease;
}

.finder-item:hover {
  background-color: #424240;
}

.folder-name {
  margin-top: 8px;
  font-size: 11px;
  text-align: center;
  word-wrap: break-word;
}

.folder-content {
  flex: 1;
  padding: 10px;
  background-color: #1c1c1e;
  overflow-y: auto;
}

.folder-content .finder-header-inner {
  padding: 10px;
  background-color: #2c2c2e;
  border-bottom: 1px solid #3a3a3c;
}

.folder-title {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.finder-section {
  padding: 0;
  display: none;
}

.finder-section.active {
  padding: 0;
  background-color: transparent;
  display: block;
}

.finder-sidebar::-webkit-scrollbar,
.finder-content::-webkit-scrollbar,
.folder-content::-webkit-scrollbar {
  width: 8px;
}

.finder-sidebar::-webkit-scrollbar-track,
.finder-content::-webkit-scrollbar-track,
.folder-content::-webkit-scrollbar-track {
  background: #2c2c2e;
}

.finder-sidebar::-webkit-scrollbar-thumb,
.finder-content::-webkit-scrollbar-thumb,
.folder-content::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.image-display-wrapper {
  font-family: Arimo, sans-serif;
  position: absolute;
  top: 100px;
  left: 60px;
  width: 600px;
  height: 600px;
  border: 1px solid #2c2c2e;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  background-color: rgb(41 41 41 / 90%);
  box-shadow: 0 4px 12px rgb(0 0 0 / 50%);
  display: none;
  flex-direction: column;
  transition: box-shadow 0.2s, opacity 0.3s ease, transform 0.3s ease;
  z-index: 2000;
}

.image-display-header {
  padding: 10px 15px;
  display: flex;
  height: 30px;
  align-items: center;
  gap: 8px;
  cursor: grab;
  user-select: none;
  position: relative;
}

.image-display-wrapper.visible {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.image-display-wrapper.hidden {
  opacity: 0;
  transform: scale(0.95);
}

.image-display-title {
  font-size: 15px;
  color: #eaeaea;
  font-weight: 500;
  letter-spacing: 0.33px;
  margin-left: 8px;
}

.image-display-body {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#displayed-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
  padding: 2.5px;
}

.window-header {
  cursor: move;
  user-select: none;
}

.window-header.dragging {
  cursor: grabbing;
}

.window {
  min-width: 550px;
  min-height: 350px;
}

.window.nwse-resize {
  cursor: nwse-resize;
}

.window.nesw-resize {
  cursor: nesw-resize;
}

.window.ns-resize {
  cursor: ns-resize;
}

.window.ew-resize {
  cursor: ew-resize;
}

.finder-wrapper.bin {
  font-family: Arimo, sans-serif;
  position: absolute;
  top: 95px;
  left: 40px;
  width: 700px;
  height: 500px;
  border: 1px solid #2c2c2e;
  border-radius: 8px;
  background-color: #1c1c1e;
  box-shadow: 0 4px 12px rgba(0 0 0 / 50%);
  flex-direction: column;
  transition: box-shadow 0.2s, opacity 0.3s ease, transform 0.3s ease;
}

.window-header.bin {
  border-radius: 10px 10px 0 0;
}

/* Visibility Classes */
.finder-wrapper.bin.visible {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.finder-wrapper.bin.hidden {
  opacity: 0;
  transform: scale(0.95);
}

/* Finder Header */
.finder-header.bin {
  background: #20211d;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #3a3a3c;
  cursor: grab;
  user-select: none;
  position: relative;
}

.finder-title.bin {
  font-size: 15px;
  color: #eaeaea;
  font-weight: 500;
  margin-left: 8px;
}

.finder-body.bin {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.finder-content.bin {
  flex: 1;
  padding: 10px;
  background-color: #1e1e1e;
  overflow-y: auto;
  border-radius: 0 0 10px;
}

.finder-grid.bin {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
}

.finder-item.bin {
  border-radius: 5px;
  font-size: 11px;
  letter-spacing: 0.33px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  cursor: default;
  transition: background-color 0.2s ease;
}

.finder-item.bin:hover {
  background-color: #424240;
}

.finder-item.gohome img {
  width: 55px;
  height: 55px;
}

.folder-content.bin {
  flex: 1;
  padding: 10px;
  background-color: #1c1c1e;
  overflow-y: auto;
}

.folder-content.bin .finder-header-inner.bin {
  padding: 10px;
  background-color: #2c2c2e;
  border-bottom: 1px solid #3a3a3c;
}

.folder-title.bin {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.finder-section.bin {
  padding: 0;
  display: none;
}

.finder-section.bin.active {
  padding: 0;
  background-color: transparent;
  display: block;
}

.finder-sidebar.bin::-webkit-scrollbar,
.finder-content.bin::-webkit-scrollbar,
.folder-content.bin::-webkit-scrollbar {
  width: 8px;
}

.finder-sidebar.bin::-webkit-scrollbar-track,
.finder-content.bin::-webkit-scrollbar-track,
.folder-content.bin::-webkit-scrollbar-track {
  background: #2c2c2e;
}

.finder-sidebar.bin::-webkit-scrollbar-thumb,
.finder-content.bin::-webkit-scrollbar-thumb,
.folder-content.bin::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}
