body {
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}

.overlay.active {
  display: block;
}

.clicklistener {
  z-index: 999;
}

.hidden {
  display: none;
}

.headertext {
  margin: 0;
  font-size: 22px;
  -webkit-text-stroke-width: 0.75px;
}

.password-container {
  font-size: 14px;
  font-family: Neueeigene, sans-serif;
  letter-spacing: -1.5px;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.password-container a {
  color: black;
  text-decoration: none;
}

.passwordmain {
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

#checkimg {
  height: 15px;
  opacity: 0.75;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

#checkimg:hover {
  height: 15px;
  opacity: 1;
}

.submitform {
  /* opacity: 0; */
  font-size: 17px;
  -webkit-text-stroke-width: 0.5px;
}

#hinttext {
  font-size: 19px;
  -webkit-text-stroke-width: 0.5px;
}

input:focus {
  outline: black;
}

#secondhint {
  pointer-events: none;
}

.hinttextdiv {
  width: 250px;
  text-align: left;
  margin-left: 5px;
}

.track-name {
  pointer-events: none;
}

.track-artist {
  pointer-events: none;
}

.track-info {
  pointer-events: none;
}

.crossfm,
.crosssyofuckme,
.otherlinks,
.backlink {
  opacity: 0.75;
  transition: opacity 0.15s ease-in-out;
}

.crossfm:hover,
.crosssyofuckme:hover,
.otherlinks:hover,
.backlink:hover {
  opacity: 1;
}

#textinside {
  padding: 20px;
}

.div-block-69 {
  overflow: scroll;
}

#handyyo {
  transform: rotate(0deg);
}
#closetext {
  height: 2.35vh;
  min-height: 17px;
  width: 2.35vh;
  min-width: 17px;
}
