node_modules/

dist/
build/
out/
target/

tmp/
temp/

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.suo
*.user
*.sln.docstates
*.swp
*.swo

.DS_Store
Thumbs.db
ehthumbs.db

*.log

*.pyc
__pycache__/

*.env
.env*
